page-login {

  .content {
    /* background: -webkit-gradient(linear, left top, left bottom, from(#ECE9E6), to(#FFF)) !important; */
    /* background: linear-gradient(#ECE9E6, #FFF) !important; */
    background: url(../assets/imgs/waves-bg.png) no-repeat;
    /* background-size: cover; */
    /* background: url(https://media.istockphoto.com/vectors/abstract-wave-background-with-transparent-blue-and-gray-lines-modern-vector-id923023622) no-repeat; */
    background-size: cover;
    background-position-y: 300px!important;
    background-color: white;
    background-position-x: 0 !important;
  }

  ion-grid {
    margin-top: 2rem;
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
  }

  #terms {
    margin-top: 25px;
    
    .item-inner {
      border-bottom: none !important;
    }
  }

  #social_login {
    button {
      ion-icon {
        margin-left: 7px;
      }
    }
  }

}
