<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content class="center-img" padding>

  <!-- <ion-row *ngIf="error">
    {{ error | json }}
  </ion-row> -->

  <ion-grid> <!-- *ngIf="!error" -->
    <ion-row>
      <ion-col col-6 offset-3>
        <img src="assets/imgs/g-dots-logo.png" />
      </ion-col>
    </ion-row>

    <ion-row>
      <p class="center-text text-muted" col-12>
        149.895 vagas já preenchidas! <br>
        <b>Restam apenas 105 vagas!</b>
      </p>
    </ion-row>

    <ion-row>
      <button color="primary" (click)="fbSign()" [disabled]="!termsAgree" ion-button icon-start col-12>
        <ion-icon name="logo-facebook"></ion-icon>
        Garantir vaga com o Facebook
      </button>
    </ion-row>

    <ion-row>
      <button color="primary" (click)="googleSign()" [disabled]="!termsAgree" ion-button icon-start col-12>
        <ion-icon name="logo-google"></ion-icon>
        Garantir vaga com o Gmail
      </button>
    </ion-row>

    <ion-item id="terms" text-wrap>
     <ion-row>
        <ion-col col-2 no-padding no-margin>
          <ion-item no-padding no-margin no-lines>
            <ion-checkbox [(ngModel)]="termsAgree"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col col-10 no-padding no-margin>
          <ion-item no-padding no-margin no-lines>
            Li e aceito os <a target="_blank" href="https://govzero.com.br/terms-of-service.html">Termos de Serviço</a> e as <a target="_blank" href="https://govzero.com.br/privacy.html">Políticas de Privacidade</a>.
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-grid>

</ion-content>
